@media screen and (max-width: 1800px){
    .nav-button, .closebtn{
        position: relative;
        right: 9999px;
    }
}

@media screen and (max-width: 480px) {

    body {
        height: 1614px;
    }

    .nav-button {
        position: absolute;
        right: 15px;
        top: 10px;
    }

    .overlay {
        position:fixed;
        z-index: 9;
        width: 0;
        height: 100%;
        background-color: rgb(0,0,0, 0.9);
        top: 0px;
        overflow-x: hidden;
        transition: all 0.5s;
    }

    .closebtn {
        position: absolute;
        right: 10px;
        font-size: 30px;
        text-decoration: none;
        color: #AAA;
    }
    
    .navBar {
        left: 130px;
    }

    .navBar ul li {
         display: block;
    }

    .navBar li {
        margin-top: 30px;
        font-size: 20px;
   }

   .usuario{
    
    display: inline-block;
    position: relative;
    margin-top: 300px;
    left: 80px;
    cursor: pointer;
}

    .container-cabecalho > h2 {
        font-size: 30px;
    }

    .container-cabecalho {
        width: 80%;
    }

    .botoes {
        margin-top: 20px;
        width: 100%;
    }

    .botoes button {
        font-size: 13px;
        padding: 10px 20px;
       
    }

    .item :hover {
        width: 100% !important;
        cursor: pointer;
    }


    /* INICIO DO FOOTER */


    .container-footer > ul {
        
        left: 40%;
    }
    
    .container-footer p {
        left: 10%;
    }

}


